.section {
  margin-bottom: 60px;

  .section-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    img.section-icon {
      height: 32px;
      width: 32px;
      border-radius: 50%;
    }

    .section-title {
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 500;
      color: #2e4049;
      padding-left: 15px;
    }
  }

  .item {
    padding: 15px;

    .item-header {

      .title {
        display: flex;
        color: #3F4650;
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 500;
        align-items: center;

        .time {
          color: #97AAC3;
          margin-left: auto;
        }
      }

      .company,
      .role {
        color: #97AAC3;
      }

      .role {
        font-weight: bold;
        font-size: 10px;
      }
    }

    .item-body {
      padding-top: 15px;
    }
  }
}

.skill-item {
  display: flex;
  align-items: center;

  .name {
    font-size: 12px;
  }
}