@import '../../../styles/constant/size.constant';

.profile-master-layout {
  display: flex;
  display: -webkit-flex;
  display: -o-flex;
  display: -ms-flex;
  flex: 1;
  justify-content: center;

  .profile-wrapper {
    display: flex;
    display: -webkit-flex;
    display: -o-flex;
    display: -ms-flex;

    width: #{$break-point-lg-min}px;

    margin-top: 30px;
    margin-bottom: 30px;

  }

  // Main content
  .main-content {
    flex: 1;
    background-color: #ffffff;
    padding: 60px;

  }

  // Side content
  .side-content {
    width: #{$width-sidebar}px;
    flex: 0 0 auto;

    background-color: #4B6A78;

    .container-block-title {
      color: #ffffff;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 15px
    }
  }
}

// Media query.
@media only screen and (max-width: #{$break-point-lg-min}px) {
  .profile-master-layout {
    .profile-wrapper {
      width: 100%;
    }
  }
}

@media only screen and (max-width: #{$break-point-md-min}px) {

  .profile-master-layout {
    .profile-wrapper {
      width: 100%;
      flex-direction: column;

      .main-content {
        order: 1;
      }

      .side-content {
        width: 100%;
        order: 0;

        .user-contact,
        .user-education,
        .user-interest,
        .user-language {
          text-align: center;
        }
      }
    }
  }


}