<div class="section">
    <div class="section-header">
        <img class="section-icon"
             ng-src="/assets/images/icons/project.png">

        <div class="section-title">
            {{'TITLE_PROJECTS' | translate}}
        </div>
    </div>

    <div class="item" ng-repeat="item in [1, 2, 3, 4]">
        <div class="item-header">
            <div class="title">
                POINT v3

                <div class="time">
                    2015 - Present
                </div>
            </div>


            <div class="company">
                FPT Software
            </div>
        </div>
        <div class="item-body">
            <div class="form-group">
                Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
                parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
                pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.

                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                architecto beatae vitae dicta sunt explicabo.
            </div>

            <div class="used-technology">
                <label>Used technologies</label>
                <div class="row">
                    <div class="col-lg-4" ng-repeat="item in [1, 2, 3, 4, 5]">
                        <div class="form-group">
                            <a href="" class="technology">AngularJS</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>